<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>电子书网站</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>名称</th>
                <th>作者</th>
                <th>TAG</th>
                <th>链接</th>
              </tr>
            </thead>
            <tbody>
              {% for book in book %}
                <tr>
                    <td>{{ book.bookName }}</td>
                    <td>{{ book.authorName }}</td>
                    <td>{{ book.bookTag }}</td>
                    <td><a href="{{ book.bookLink }}" target="_blank">{{ book.bookLink }}</a></td>
                </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
</body>
</html>